<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection"
			 connectionString="Server = DESKTOP-VLKB0QK\SQLEXPRESS;Database=AplicatieCinematograf;Integrated Security=true;TrustServerCertificate=true"/>
	</connectionStrings>

<!--
	<appSettings>
		<add key="parentTable" value="CategoriiFilme"/>
		<add key="parentPrimaryKey" value="catId"/>
		<add key="childTable" value="Filme"/>
		<add key="childPrimaryKey" value="fId"/>
		<add key="childForeignKey" value="catId"/>
		<add key="childColumnNames" value="titlu,numeDirector,durata,descriere,pret,catId"/>
		<add key="childColumnParameters" value="@titlu,@numeDirector,@durata,@descriere,@pret,@catId"/>
	</appSettings>
-->
	

	<appSettings>
		<add key="parentTable" value="Clienti"/>
		<add key="parentPrimaryKey" value="cId"/>
		<add key="childTable" value="PreferinteClienti"/>
		<add key="childPrimaryKey" value="prefId"/>
		<add key="childForeignKey" value="cId"/>
		<add key="childColumnNames" value="numeActorPreferat,numeDirectorPreferat,genFilmPreferat,cId"/>
		<add key="childColumnParameters" value="@numeActorPreferat,@numeDirectorPreferat,@genFilmPreferat,@cId"/>
	</appSettings>

</configuration>